<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1>Welcome to my Trivia app</h1>
      <form name = "Question">
         <h3><%= @start.question %></h3>
        <input type = "radio" name ="answer" value = "a"><%= @start.correct_answer %><br>
      <input type = "radio" name ="answer" value = "b"><%= @start.incorrect_answers[0] %><br>
      <input type = "radio" name ="answer" value = "c"><%= @start.incorrect_answers[2] %><br>
      <input type = "radio" name ="answer" value = "d"><%= @start.incorrect_answers[1]%><br>
      <input type="submit" value="submit">
      </form>
    </div>
    
  </body>
</html>
